# Basic stats - 2

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data={'no':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
      'headvalue':[1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29]}

In [3]:
data1=pd.DataFrame(data)
data1

    no  headvalue
0    1       1.13
1    2       1.55
2    3       1.43
3    4       0.92
4    5       1.25
5    6       1.36
6    7       1.32
7    8       0.85
8    9       1.07
9   10       1.48
10  11       1.20
11  12       1.33
12  13       1.18
13  14       1.22
14  15       1.29

In [4]:
n=15
head=stats.t.interval(0.99,df=n-1,
loc=data1.headvalue.mean(),
scale = data1.headvalue.std())
print('Gain at 99% confidence interval is:',np.round(head,4))

Gain at 99% confidence interval is: [0.6636 1.8137]

In [5]:
n=15
head=stats.t.interval(0.99,df=n-1,
loc=data1.headvalue.mean(),
scale = 0.2)
print('Gain at 99% confidence interval is:',np.round(head,4))

Gain at 99% confidence interval is: [0.6433 1.834 ]